{% extends 'base.html'%}

{% block title%}
Комп'ютери
{% endblock%}




{% block Goods %}
<h1 style="text-align: center; font-family: 'Roboto', sans-serif;">Комп'ютери</h1>
<div class="product-container" style="margin-top: 50px;   display: flex; flex-wrap: nowrap; overflow-x: auto; padding: 0 20px; justify-content: center; align-items: center; margin-bottom: 40px; font-family: 'Roboto', sans-serif;">
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops1.png" style="width: 200px; height: 200px; object-fit: contain; " alt="Ноутбук Lenovo IdeaPad Slim 5 16IAH8">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук Lenovo IdeaPad Slim 5 16IAH8</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴28 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 16"</li>
                <li>Частота оновлення екрану: 60 Гц</li>
                <li>Процесор: Восьмиядерний Intel Core i5-12450H (2.0 - 4.4 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 512 ГБ</li>
                <li>Відеокарта: UHD Graphics 12th Gen</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук Lenovo IdeaPad Slim 5 16IAH8', '')">Купити</button>
        </div>
    </div>
    
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops2.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук Acer Aspire Go 15 AG15-31P-33XA">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук Acer Aspire Go 15 AG15-31P-33XA</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴ 18 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 15.6"</li>
                <li>Частота оновлення екрану: 60 Гц</li>
                <li>Процесор: Восьмиядерний Intel Core i3-N305 (3.8 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 512 ГБ</li>
                <li>Відеокарта: UHD Graphics</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук Acer Aspire Go 15 AG15-31P-33XA', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops3.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук ASUS TUF Gaming A15 FA506NC-HN026">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук ASUS TUF Gaming A15 FA506NC-HN026</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴ 38 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 15.6"</li>
                <li>Частота оновлення екрану: 144 Гц</li>
                <li>Процесор: Шестиядерний AMD Ryzen 5 7535HS (3.3 - 4.55 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 1 ТБ</li>
                <li>Відеокарта: GeForce RTX 3050</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук ASUS TUF Gaming A15 FA506NC-HN026', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops4.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук Apple MacBook Air 13">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук Apple MacBook Air 13"</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴ 35 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 13.3"</li>
                <li>Частота оновлення екрану: 60 Гц</li>
                <li>Процесор: Восьмиядерний Apple M1</li>
                <li>Оперативна пам'ять: 8 ГБ</li>
                <li>SSD: 256 ГБ</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук Apple MacBook Air 13*', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops5.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук HP Pavilion 15-eh1106ua">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук HP Pavilion 15-eh1106ua</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴20 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 15.6"</li>
                <li>Частота оновлення екрану: 60 Гц</li>
                <li>Обсяг оперативної пам'яті: 16 ГБ</li>
                <li>Обсяг SSD: 512 ГБ</li>
                <li>Відеокарта: Radeon Graphics</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук HP Pavilion 15-eh1106ua', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
</div>


<!--другий ряд-->
<div class="product-container" style="display: flex; flex-wrap: nowrap; overflow-x: auto; padding: 0 20px; justify-content: center; align-items: center; margin-bottom: 40px; font-family: 'Roboto', sans-serif;">
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops6.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук Lenovo LOQ 15IRH8 (82XV00JTRA)">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук Lenovo LOQ 15IRH8 (82XV00JTRA)</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴43 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 15.6"</li>
                <li>Частота оновлення екрану: 144 Гц</li>
                <li>Процесор: Восьмиядерний Intel Core i5-12450H (2.0 - 4.4 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 512 ГБ</li>
                <li>Відеокарта: GeForce RTX 4050</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук Lenovo LOQ 15IRH8 (82XV00JTRA)', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops7.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук Acer Aspire 7 A715-76G-560W">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук Acer Aspire 7 A715-76G-560W</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴33 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 15.6"</li>
                <li>Частота оновлення екрану: 60 Гц</li>
                <li>Процесор: Восьмиядерний Intel Core i5-12450H (2.0 - 4.4 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 512 ГБ</li>
                <li>Відеокарта: GeForce RTX 3050</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук Acer Aspire 7 A715-76G-560W', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops8.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук ASUS TUF Gaming F17 FX707VV-HX142">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук ASUS TUF Gaming F17 FX707VV-HX142</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴60 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 17.3"</li>
                <li>Частота оновлення екрану: 144 Гц</li>
                <li>Процесор: Десятиядерний Intel Core i7-13620H (2.4 - 4.9 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 1 ТБ</li>
                <li>Відеокарта: GeForce RTX 4060</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук ASUS TUF Gaming F17 FX707VV-HX142', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops9.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук HP Laptop 15s-fq5000ua">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук HP Laptop 15s-fq5000ua</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴18 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 15.6"</li>
                <li>Частота оновлення екрану: 60 Гц</li>
                <li>Процесор: Шестиядерний Intel Core i3-1215U (1.2 - 4.4 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 512 ГБ</li>
                <li>Відеокарта: UHD Graphics 12th Gen</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук HP Laptop 15s-fq5000ua', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    <div class="product-card-inner" style="border: 1px solid #FD7E14; border-radius: 10px; overflow: hidden; padding: 15px; text-align: center; position: relative; height: 300px; display: flex; flex-direction: column; justify-content: flex-start; margin-right: 20px;">
        <div class="product-card-front">
            <img src="/static/pictures/laptops10.png" style="width: 200px; height: 200px; object-fit: contain;" alt="Ноутбук Dell Vostro 15 3520">
            <div class="product-name" style="font-size: 16px; margin-left: -10px; margin-right: 20px;">Ноутбук Dell Vostro 15 3520</div>
            <div class="product-price" style="color: black; font-size: 16px; font-weight: bold; margin: 15px 0;">₴24 999</div>
        </div>
        <div class="product-card-back">
            <div class="icon-container">
                <div class="favorite-icon" onclick="toggleFavorite(this)" style="position: absolute; top: 5px; right: 10px; cursor: pointer;">
                    <img src="/static/pictures/icon4.png" alt="Додати до улюблених" class="favorite-icon-img" data-full="/static/pictures/iconfull.png">
                </div>
                <div class="compare-icon" onclick="addToCompare(this)">
                    <img src="/static/pictures/icon3.png" style="width: 24px; height: 24px;" alt="Додати до порівняння" class="compare-icon-img">
                </div>
            </div>
            <h3>Короткі характеристики:</h3>
            <ul>
                <li>Діагональ екрану: 15.6"</li>
                <li>Частота оновлення екрану: 120 Гц</li>
                <li>Процесор: Десятиядерний Intel Core i5-1235U (0.9 - 4.4 ГГц)</li>
                <li>Оперативна пам'ять: 16 ГБ</li>
                <li>SSD: 512 ГБ</li>
                <li>Відеокарта: Iris Xe Graphics</li>
            </ul>
            <button class="buy-button" onclick="buyProduct('Ноутбук Dell Vostro 15 3520', 'Ціна уточнюється')">Купити</button>
        </div>
    </div>
    
</div>


{% endblock %}


